.code{
    background: #6577ab;
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}